Repository karthiknish/aroosi, changes with the labels that .github/labeler.yml gives for each.
All labels: area:api, area:ui, area:convex, area:tests, chore:deps

chore: Update CI workflows to enhance security and testing capabilities
  .github/workflows/codeql.yml
  .github/workflows/e2e.yml
  .github/workflows/semgrep.yml
Labels: none

feat: Add profile creation field change handlers with error handling
  src/app/about/page.tsx
  src/app/blog/page.tsx
  src/app/faq/page.tsx
  src/components/home/ProfileCreationModal.tsx
  src/components/home/profileCreationHelpers.ts
Labels: area:ui

feat: Add SEO metadata to How It Works and Terms pages for improved visibility
  convex/schema.ts
  src/app/contact/page.tsx
  src/app/how-it-works/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
Labels: area:ui, area:convex

feat: Implement soft cleanup of stale typing indicators in updateTypingStatus mutation
  convex/presence.ts
  convex/typingIndicators.ts
  src/app/api/typing-indicators/route.ts
Labels: area:api, area:ui, area:convex

feat: Enhance chat presence functionality with heartbeat and presence tracking
  convex/_generated/api.d.ts
  src/app/api/conversations/[id]/events/route.ts
  src/app/api/messages/mark-read/route.ts
  src/app/api/presence/route.ts
  src/components/PexelsImageModal.tsx
  src/components/chat/MessagesList.tsx
  src/components/chat/ModernChat.tsx
  src/components/chat/ModernChatHeader.tsx
  src/components/home/ProfileCreationModal.tsx
  src/hooks/useModernChat.ts
  src/hooks/useTypingIndicators.ts
  src/lib/api/conversation.ts
  src/lib/utils/imageSearchUtil.ts
Labels: area:api, area:ui, area:convex

feat: Refactor real-time message handling to use conversation-based API endpoints
  src/app/api/search-images/route.ts
  src/components/PexelsImageModal.tsx
  src/hooks/useModernChat.ts
  src/hooks/useRealTimeMessages.ts
Labels: area:api, area:ui

feat: Add support for tracking multiple last read timestamps in chat messages
  src/components/chat/MessagesList.tsx
  src/components/chat/ModernChat.tsx
Labels: area:ui

chore: Update TypeScript configuration and improve type error handling in ModernChat component
  src/components/chat/ModernChat.tsx
  tsconfig.json
Labels: area:ui

feat: Update TypeScript configuration and enhance component functionality
  jest.config.js
  src/__tests__/hooks/useLocalStorage.test.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/loading-spinner.tsx
  src/lib/utils/formatting.ts
  src/lib/utils/imageUtil.ts
  src/lib/utils/validation.ts
  tsconfig.json
Labels: area:ui, area:tests

feat: Lazy-initialize Resend instance to improve test environment compatibility
  src/__tests__/ProfileImageReorder.test.tsx
  src/app/page.tsx
  src/lib/email.ts
Labels: area:ui, area:tests

feat: Enhance Composer component with typing indicator and conversation context
  .github/workflows/secret-scanner.yml
  src/__tests__/ProfileImageReorder.test.tsx
  src/__tests__/components/ProtectedRoute.test.tsx
  src/__tests__/utils/validation.test.ts
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/faq/page.tsx
  src/app/how-it-works/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/pricing/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/animation/motion.ts
  src/components/chat/Composer.tsx
  src/components/chat/ModernChat.tsx
  src/lib/utils/validation.ts
  src/setupTests.ts
Labels: area:ui, area:tests

feat: Add trial status fields to subscription status response
  convex/deliveryReceipts.ts
  convex/users.ts
  jest.config.js
  src/__tests__/api/profile.test.ts
  src/app/(authenticated)/subscription/page.tsx
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/reset-password/route.ts
  src/app/api/conversations/[id]/events/route.ts
  src/app/api/conversations/[id]/mark-read/route.ts
  src/app/api/messages/mark-read/route.ts
  src/app/api/messages/read/route.ts
  src/app/api/messages/send/route.ts
  src/app/api/subscription/can-use/[feature]/route.ts
  src/app/api/subscription/status/route.ts
  src/app/forgot-password/page.tsx
  src/app/reset-password/page.tsx
  src/components/auth/CustomForgotPasswordForm.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessagesList.tsx
  src/components/chat/ModernChat.tsx
  src/components/subscription/SubscriptionCard.tsx
  src/components/subscription/SubscriptionWidget.tsx
  src/components/ui/input.tsx
  src/hooks/useModernChat.ts
  src/hooks/useSubscription.ts
  src/lib/api/subscription.ts
  src/lib/chat/utils.ts
  src/lib/ui/toast.ts
  src/lib/utils/useMatchMessages.ts
Labels: area:api, area:ui, area:convex, area:tests

refactor: Improve formatting and readability in reset-password route
  src/app/api/auth/reset-password/route.ts
Labels: area:api, area:ui

refactor: Simplify image handling and subscription plan check in ProfileView component
  convex/blog.ts
  convex/users.ts
  convex/utils/sanitize.ts
  src/app/(authenticated)/admin/blog/create/page.tsx
  src/app/(authenticated)/admin/contact/page.tsx
  src/app/(authenticated)/search/page.tsx
  src/app/api/auth/me/route.ts
  src/app/api/blog/route.ts
  src/app/api/contact/route.ts
  src/app/api/search/route.ts
  src/app/api/stripe/checkout/route.ts
  src/app/api/stripe/webhook/route.ts
  src/components/ProtectedRoute.tsx
  src/components/admin/BlogEditor.tsx
  src/components/admin/CreatePost.tsx
  src/components/admin/ProfileView.tsx
  src/components/chat/Composer.tsx
  src/components/chat/VoiceRecorderButton.tsx
  src/components/layout/Header.tsx
  src/components/profile/ProfileView.tsx
  src/components/subscription/UsageCard.tsx
  src/components/usage/UsageTracker.tsx
  src/hooks/useDebouncedValue.ts
  src/lib/apiResponse.ts
  src/lib/contactUtil.ts
Labels: area:api, area:ui, area:convex

feat: implement recommendations system with scoring and caching
  convex/_generated/api.d.ts
  convex/compatibility.ts
  convex/engagement.ts
  convex/icebreakers.ts
  convex/quickPicks.ts
  convex/recommendations.ts
  convex/schema.ts
  src/app/(authenticated)/admin/marketing-email/page.tsx
  src/app/(authenticated)/engagement/quick-picks/page.tsx
  src/app/(authenticated)/engagement/shortlists/page.tsx
  src/app/(authenticated)/profile/[id]/IcebreakersPanel.tsx
  src/app/(authenticated)/profile/[id]/SimilarProfiles.tsx
  src/app/(authenticated)/profile/[id]/page.tsx
  src/app/api/admin/marketing-email/route.ts
  src/app/api/compatibility/[userId]/route.ts
  src/app/api/engagement/icebreakers/route.ts
  src/app/api/engagement/notes/route.ts
  src/app/api/engagement/profiles/route.ts
  src/app/api/engagement/quick-picks/route.ts
  src/app/api/engagement/shortlist/route.ts
  src/components/profile/ProfileActions.tsx
  src/lib/engagementUtil.ts
  src/lib/marketingEmailApi.ts
  src/lib/searchUtil.ts
Labels: area:api, area:ui, area:convex

feat: add POST endpoint for submitting answers with validation and security checks
  convex/_generated/api.d.ts
  convex/icebreakers.ts
  convex/recommendations.ts
  src/app/(authenticated)/admin/icebreakers/page.tsx
  src/app/(authenticated)/engagement/quick-picks/page.tsx
  src/app/(authenticated)/profile/[id]/IcebreakersPanel.tsx
  src/app/(authenticated)/profile/[id]/page.tsx
  src/app/api/admin/icebreakers/route.ts
  src/app/api/admin/marketing-email/route.ts
  src/app/api/auth/google/route.ts
  src/app/api/auth/signin/route.ts
  src/app/api/icebreakers/answer/route.ts
  src/app/api/icebreakers/route.ts
  src/app/api/profile/route.ts
  src/app/api/recommendations/route.ts
  src/app/api/subscription/can-use/[feature]/route.ts
  src/components/admin/AdminSidebar.tsx
  src/components/usage/UsageTracker.tsx
  src/hooks/useModernChat.ts
  src/lib/auth/convexKeys.server.ts
  src/lib/engagementUtil.ts
  src/lib/utils/useMatchMessages.ts
Labels: area:api, area:ui, area:convex

feat: enhance push notification admin page with audience segmentation and dry run options
  src/app/(authenticated)/admin/push-notification/page.tsx
  src/app/api/admin/push-notification/route.ts
  src/components/ClientRoot.tsx
  src/components/admin/AdminSidebar.tsx
  src/hooks/useOneSignal.ts
  src/lib/pushNotificationApi.ts
  tsconfig.json
Labels: area:api, area:ui

feat: add admin functionality for managing push notification devices with search and pagination
  convex/pushNotifications.ts
  src/app/(authenticated)/admin/push-notification/devices/page.tsx
  src/app/api/admin/push-notification/devices/route.ts
  src/app/api/admin/push-notification/route.ts
  src/app/api/admin/push-notification/test-send/route.ts
  src/components/admin/AdminSidebar.tsx
Labels: area:api, area:ui, area:convex

feat: enhance admin devices page with improved device fetching and error handling
  src/app/(authenticated)/admin/push-notification/devices/page.tsx
  src/app/api/admin/push-notification/route.ts
Labels: area:api, area:ui

feat: add BlogDetailClient component for improved blog post rendering and error handling
  src/app/(authenticated)/engagement/shortlists/page.tsx
  src/app/blog/[slug]/BlogDetailClient.tsx
  src/app/blog/[slug]/page.tsx
Labels: area:ui

fix: update error messages and improve accessibility in email templates and forms
  src/app/(authenticated)/admin/blog/edit/page.tsx
  src/app/(authenticated)/admin/icebreakers/page.tsx
  src/app/(authenticated)/admin/marketing-email/page.tsx
  src/app/(authenticated)/admin/profile/[id]/page.tsx
  src/app/(authenticated)/admin/push-notification/page.tsx
  src/app/(authenticated)/engagement/quick-picks/page.tsx
  src/app/(authenticated)/profile/[id]/IcebreakersPanel.tsx
  src/app/(authenticated)/profile/[id]/page.tsx
  src/components/ChatBot.tsx
  src/components/ErrorBoundary.tsx
  src/components/ProfileImageReorder.tsx
  src/components/admin/BlogPostFields.tsx
  src/components/admin/ProfileEditForm.tsx
  src/components/home/steps/StepComponents.tsx
  src/components/layout/Footer.tsx
  src/components/profile/ProfileActions.tsx
  src/components/subscription/FeatureUsageTracker.tsx
  src/components/ui/alert.tsx
  src/components/ui/card.tsx
  src/emails/Marketing/PremiumPromo.tsx
  src/emails/Marketing/ProfileCompletionReminder.tsx
  src/emails/Marketing/RecommendedProfiles.tsx
  src/emails/WelcomeEmail.tsx
  src/hooks/useVoiceRecorder.ts
  src/lib/api/messages.ts
  src/lib/storage/convexStorage.ts
Labels: area:ui

refactor: remove debug console logs for production compliance in ProtectedRoute and adminProfileApi
  src/app/(authenticated)/admin/profile/[id]/page.tsx
  src/components/ProtectedRoute.tsx
  src/hooks/useModernChat.ts
  src/lib/profile/adminProfileApi.ts
  src/lib/utils/profileImageUtils.ts
Labels: area:ui

refactor: clean up comments and improve code readability in ProfileDetailPage
  src/app/(authenticated)/profile/[id]/page.tsx
Labels: area:ui

refactor: improve accessibility and code structure in AdminEditBlogPage, ProtectedRoute, ProfileEditForm, and useModernChat
  src/app/(authenticated)/admin/blog/edit/page.tsx
  src/components/ProtectedRoute.tsx
  src/components/admin/ProfileEditForm.tsx
  src/hooks/useModernChat.ts
Labels: area:ui

fix: improve accessibility by adding label and id for hideFromFreeUsers checkbox in ProfileEditForm
  src/app/(authenticated)/admin/blog/edit/page.tsx
  src/app/(authenticated)/admin/profile/[id]/page.tsx
  src/components/ProtectedRoute.tsx
  src/components/admin/ProfileEditForm.tsx
  src/hooks/useModernChat.ts
Labels: area:ui

feat: update README with recent features including ProtectedRoute gating, error toasts for access denials, and onboarding/profile navigation logic
  README.md
Labels: none

fix: exclude test files from app type-check in tsconfig.json
  tsconfig.json
Labels: none

fix: update installCommand in vercel.json to use npm ci for consistent dependency installation
  .github/workflows/cd-vercel.yml
  .github/workflows/cd.yml
  .github/workflows/deploy-vercel.yml
  vercel.json
Labels: none

feat: integrate Convex Auth for session management and update authentication routes
  convex/auth.ts
  convex/http.ts
  src/app/api/auth/google/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/signin/route.ts
  src/components/AuthProvider.tsx
  src/middleware.ts
Labels: area:api, area:ui, area:convex

refactor: streamline OAuth callback handling and improve Google sign-in flow
  src/app/api/auth/password/route.ts
  src/app/api/auth/signup/route.ts
  src/app/oauth/callback/page.tsx
  src/components/AuthProvider.tsx
  src/components/auth/GoogleAuthButton.tsx
  src/middleware.ts
Labels: area:api, area:ui

feat: enhance authentication flow with improved error handling and email masking
  src/app/api/auth/password/route.ts
  src/app/api/auth/signin/route.ts
  src/app/api/auth/signup/route.ts
Labels: area:api, area:ui

refactor: remove unnecessary logging for lint compliance across authentication routes
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/password/route.ts
  src/app/api/auth/reset-password/route.ts
  src/app/api/auth/signin/route.ts
  src/app/api/auth/signup/route.ts
Labels: area:api, area:ui

feat: enhance authentication routes with email masking and improved error handling
  convex/auth.ts
  convex/users.ts
  src/app/api/auth/password/route.ts
  src/app/api/auth/signin/route.ts
Labels: area:api, area:ui, area:convex

refactor: simplify Convex Auth URL resolution and remove unnecessary logging
  convex/_generated/api.d.ts
  convex/createAuthAccount.ts
  convex/getAuthAccountByEmail.ts
  convex/getProfileByUserId.ts
  convex/listTableNames.ts
  convex/users.ts
  debug-otp-test.js
  package-lock.json
  package.json
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/password/route.ts
  src/app/api/auth/signup/route.ts
  src/components/AuthProvider.tsx
  src/components/auth/CustomSignInForm.tsx
  src/lib/convexClient.ts
  src/middleware.ts
Labels: area:api, area:ui, area:convex, chore:deps

feat: enhance error handling in signup and logout processes with user-friendly messages
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/password/route.ts
  src/app/api/auth/signup/route.ts
  src/components/AuthProvider.tsx
  src/components/auth/CustomSignInForm.tsx
  src/components/auth/CustomSignupForm.tsx
  src/lib/utils/profileApi.ts
  test-signup-api.js
  test-signup.js
Labels: area:api, area:ui

feat: add profile data support in user creation and enhance signup error handling
  convex/auth.ts
  convex/users.ts
  create-direct-user.js
  src/app/(auth)/sign-in/[[...sign-in]]/page.tsx
  src/app/api/auth/signup/route.simple.ts
  src/app/api/auth/signup/route.test.ts
  src/app/api/auth/signup/route.ts
  src/components/profile/ProfileView.tsx
  test-api-simple.js
  test-convex-client.js
  test-route.js
Labels: area:api, area:ui, area:convex

feat: enhance profile data handling with improved type validation and error handling
  src/app/api/auth/signup/route.ts
Labels: area:api, area:ui

fix: update import path for Convex API to use the correct module
  src/app/api/auth/signup/route.simple.ts
Labels: area:api, area:ui

feat: improve user-friendly error messages for authentication failures
  src/app/api/auth/password/route.ts
  src/components/AuthProvider.tsx
Labels: area:api, area:ui

feat: enhance signup error handling with specific messages for common error cases
  src/app/api/auth/signup/route.ts
  src/components/auth/CustomSignupForm.tsx
Labels: area:api, area:ui

.github/labeler.yml:

'area:api':
  - 'src/app/api/**'

'area:ui':
  - 'src/components/**'
  - 'src/app/**'

'area:convex':
  - 'convex/**'

'area:tests':
  - 'src/__tests__/**'
  - 'tests/**'
  - 'e2e/**'

'chore:deps':
  - 'package.json'
  - 'package-lock.json'
