Repository karthiknish/aroosi, changes with the labels that .github/labeler.yml gives for each.
All labels: area:api, area:ui, area:convex, area:tests, chore:deps

feat: implement Google OAuth initiation and callback handling with improved error responses
  src/app/api/auth/google/route.ts
  src/app/api/auth/password/route.ts
  src/components/auth/GoogleAuthButton.tsx
Labels: area:api, area:ui

feat: update Google OAuth flow to redirect to Convex Auth and improve error handling
  convex.json
  next.config.ts
  src/app/api/auth/google/route.ts
  src/components/AuthProvider.tsx
  src/components/auth/GoogleAuthButton.tsx
Labels: area:api, area:ui

Update auth.config.js to use CONVEX_SITE_URL environment variable
  convex/auth.config.js
Labels: area:convex

Fix Convex Auth configuration
  convex.json
Labels: none

Add logging to password route for debugging
  convex.json
  convex/auth.ts
  convex/http.ts
  src/app/api/auth/password/route.ts
Labels: area:api, area:ui, area:convex

feat: Add shortlists and notes tables to schema for user interactions
  convex.json
  convex/_generated/api.d.ts
  convex/_root.ts
  convex/auth.config.js
  convex/auth.ts
  convex/http.ts
  convex/testAuth.ts
  src/app/(auth)/sign-in/[[...sign-in]]/head.tsx
  src/app/api/auth/google/route.ts
Labels: area:api, area:ui, area:convex

feat: Update redirect logic for SSO callback and profile creation success
  src/app/(auth)/sign-up/[[...sign-up]]/page.tsx
  src/app/(authenticated)/admin/layout.tsx
  src/app/(authenticated)/admin/profile/[id]/page.tsx
  src/app/(authenticated)/success/page.tsx
  src/app/sso-callback/page.tsx
  src/components/auth/CustomSignInForm.tsx
  src/components/auth/CustomSignupForm.tsx
  src/components/auth/GoogleAuthButton.tsx
  src/components/auth/ProtectedRoute.tsx
  src/hooks/useClerkAuthApi.ts
Labels: area:ui

refactor: Remove unused imports and parameters in voice message utility
  src/app/(authenticated)/success/page.tsx
  src/app/api/auth/me/route.ts
  src/lib/voiceMessageUtil.ts
Labels: area:api, area:ui

refactor: Update webhook handling and improve sign-in flow with error handling
  src/app/api/webhooks/clerk/route.ts
  src/app/sso-callback/page.tsx
  src/components/auth/CustomSignInForm.tsx
  src/types/profile.ts
Labels: area:api, area:ui

feat: Add loading component for SSO callback and refactor SSOCallback function
  src/app/sso-callback/loading.tsx
  src/app/sso-callback/page.tsx
Labels: area:ui

refactor: Enhance toast styling with gradients and improved padding
  src/app/globals.css
  src/components/ClientRoot.tsx
  src/lib/ui/toast.ts
Labels: area:ui

refactor: Update user authentication flow and improve profile handling
  convex.json
  emails/otpVerification.html
  emails/otpVerification.txt
  scripts/update-clerk-email-template.ts
  src/app/(authenticated)/profile/edit/page.tsx
  src/app/api/auth/me/route.ts
  src/app/api/auth/send-otp/route.ts
  src/app/api/auth/signup/route.ts
  src/app/api/auth/signup/verify-otp/route.ts
  src/app/api/auth/verify-otp/route.ts
  src/app/api/conversations/route.ts
  src/app/api/user/me/route.ts
  src/app/layout.tsx
  src/components/ClerkAuthProvider.tsx
  src/components/ProtectedRoute.tsx
  src/components/auth/CustomSignupForm.tsx
  src/components/chat/ConversationList.tsx
  src/components/emails/OtpEmailTemplate.tsx
  src/components/home/HeroOnboarding.tsx
  src/components/home/ProfileCreationModal.tsx
  src/components/home/steps/StepComponents.tsx
  src/components/safety/ReportUserDialog.tsx
  src/components/ui/otp-input.tsx
  src/hooks/useClerkAuthApi.ts
  src/lib/auth/tempStorage.ts
  src/lib/clerkApi.ts
  src/lib/clerkServerApi.ts
  src/lib/convexServer.ts
  src/lib/emailTemplates.tsx
  src/lib/ui/toast.ts
  src/lib/utils/otp.ts
  src/lib/utils/otpStorage.ts
  src/middleware.ts
Labels: area:api, area:ui

feat: Enhance marketing email functionality with A/B testing and preheader support
  src/app/(authenticated)/admin/marketing-email/page.tsx
  src/app/(authenticated)/profile/[id]/IcebreakersPanel.tsx
  src/app/api/_utils/auth.ts.bak
  src/app/api/admin/marketing-email/route.ts
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/google/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/login/route.ts.bak
  src/app/api/auth/password/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/register/route.ts.bak
  src/app/api/auth/reset-password/route.ts
  src/app/api/auth/send-otp/route.ts
  src/app/api/auth/signup/route.simple.ts
  src/app/api/auth/signup/route.test.ts
  src/app/api/auth/signup/verify-otp/route.ts
  src/app/api/auth/verify-otp/route.ts
  src/app/api/convert-ai-text-to-html/route.ts.bak
  src/app/api/saveChatbotMessage/route.ts.bak
  src/app/api/search-images/route.ts.bak
  src/app/api/search/route.ts.bak
  src/app/api/stripe/checkout/route.ts.bak
  src/app/api/stripe/webhook/route.ts.bak
  src/app/api/user/me/route.ts.bak
  src/app/reset-password/page.tsx
  src/components/ClerkAuthProvider.tsx
  src/components/ProtectedRoute.tsx
  src/components/auth/CustomForgotPasswordForm.tsx
  src/components/auth/CustomSignupForm.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/emails/OtpEmailTemplate.tsx
  src/lib/auth/client.ts
  src/lib/convexServer.ts
  src/lib/marketingEmailApi.ts
  src/lib/marketingEmailTemplates.ts
Labels: area:api, area:ui

refactor: Remove unused token parameters from admin API calls
  src/app/(authenticated)/admin/matches/page.tsx
  src/app/(authenticated)/admin/profile/edit/page.tsx
  src/components/ProfileImageUpload.tsx
  src/lib/api/messages.ts
  src/lib/utils/useMatchMessages.ts
Labels: area:ui

feat: Enhance profile creation and user onboarding experience
  src/app/(authenticated)/success/loading.tsx
  src/app/(authenticated)/success/page.tsx
  src/app/api/profile/route.ts
  src/app/api/user/me/route.ts
  src/app/api/webhooks/clerk/route.ts
  src/app/sso-callback/page.tsx
  src/components/ClerkAuthProvider.tsx
  src/components/ProfileImageModal.tsx
  src/components/ProfileImageReorder.tsx
  src/components/auth/CustomSignInForm.tsx
  src/components/auth/CustomSignupForm.tsx
  src/components/home/profileCreation/controller.ts
  src/components/home/steps/Step6Photos.tsx
Labels: area:api, area:ui

feat: Add new webhook route and refactor onboarding state management
  src/components/home/HeroOnboarding.tsx
  src/middleware.ts
Labels: area:ui

refactor: Update user creation logic to enforce profile completion
  convex/createUserWithClerk.ts
  convex/users.ts
  src/app/api/webhooks/clerk/route.ts
  src/app/reset-password/page.tsx
  src/components/auth/CustomSignupForm.tsx
Labels: area:api, area:ui, area:convex

feat: Enhance user creation logic to prevent duplicate entries
  convex/createUserWithClerk.ts
  convex/users.ts
Labels: area:convex

Refactor user name handling and update OTP verification process
  convex/users.ts
  src/app/api/auth/forgot-password/route.ts
  src/app/api/auth/google/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/password/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/reset-password/route.ts
  src/app/api/user/me/route.ts
  src/app/x.php
  src/components/home/steps/StepComponents.tsx
  src/lib/utils/profileImageUtils.ts
Labels: area:api, area:ui, area:convex

feat: Implement Safari compatibility enhancements with polyfills and tests
  .browserslistrc
  convex/users.ts
  next.config.ts
  src/app/layout.tsx
  src/components/auth/CustomSignupForm.tsx
  src/components/ui/otp-input.tsx
  src/lib/safari-compat-test.ts
  src/lib/safari-polyfills.ts
  tsconfig.json
Labels: area:ui, area:convex

feat: Improve user signup error handling and rollback for failed user creation
  convex/users.ts
  src/app/api/auth/signup/route.ts
Labels: area:api, area:ui, area:convex

refactor: Simplify user signup process by removing unused parameters and enhancing error handling
  convex/users.ts
  src/app/api/auth/signup/route.ts
  src/components/auth/CustomSignupForm.tsx
Labels: area:api, area:ui, area:convex

.github/labeler.yml:

'area:api':
  - 'src/app/api/**'

'area:ui':
  - 'src/components/**'
  - 'src/app/**'

'area:convex':
  - 'convex/**'

'area:tests':
  - 'src/__tests__/**'
  - 'tests/**'
  - 'e2e/**'

'chore:deps':
  - 'package.json'
  - 'package-lock.json'
